#include <winres.h>
#include "rc.h"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDM_MAIN MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Run new task",               ID_NEWTASK
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                       ID_EXIT
    END
    POPUP "&View"
    BEGIN
        MENUITEM "&Refresh",                    ID_REFRESH
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_TASK DIALOGEX 100, 100, 225, 78
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Size"
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN
    LTEXT           "Open:",IDC_STATIC,7,19,16,13
	EDITTEXT        IDC_TASKNAME, 30, 18, 182, 15, ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,52,50,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,108,50,50,14
	PUSHBUTTON      "Browse", IDC_BROWSE, 163, 50, 50, 14
END

IDD_PROCESSINFO DIALOGEX 0, 0, 200, 145
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	LTEXT           "ProcesID:", IDC_STATIC, 5, 5, 60, 25
	LTEXT           "", IDS_COLL2, 61, 5, 138, 25
	LTEXT           "Lokacija:", IDC_STATIC, 5, 25, 60, 45
	LTEXT           "", IDS_COLL3, 61, 25, 138, 45
	LTEXT           "Modul:", IDC_STATIC, 4, 45, 60, 65
	LTEXT           "", IDS_COLL4, 61, 45, 138, 65
	LTEXT           "Bazna adresa:", IDC_STATIC, 4, 65, 60, 85
	LTEXT           "", IDS_COLL5, 61, 65, 138, 85
	LTEXT           "Ref count (p):", IDC_STATIC, 3, 85, 60, 105
	LTEXT           "", IDS_COLL6, 61, 85, 138, 105
	LTEXT           "Ref count (g):", IDC_STATIC, 3, 105, 60, 125
	LTEXT           "", IDS_COLL7, 61, 105, 138, 125
	DEFPUSHBUTTON   "End Task", IDC_ENDPROCES, 5, 125, 70, 15
	PUSHBUTTON      "Cancel", IDCANCEL, 85, 125, 70, 15
END


STRINGTABLE
BEGIN
	IDS_EROR "Greška"
	IDS_EIMEPROC "Nije uneseno ime procesa !"
	IDS_EXFILTER "Exe Files\0*.exe\0"
	IDS_DEEXT "all"
	IDS_ENDTASK "End Task"
	IDS_REFRESH "Refresh"
	IDS_EXTRASTYLE "fullrow header overflow"
	IDS_COLL1 "Ime"
	IDS_COLL2 "ProcesID"
	IDS_COLL3 "Broj threadova"
	IDS_COLL4 "Lokacija"
	IDS_ERKILLRPROC "Greška prilikom gašenja procesa"
END


