#include <winres.h>
#include "rc.h"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDM_MAIN MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Run new task",               ID_NEWTASK
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                       ID_EXIT
    END
    POPUP "&View"
    BEGIN
        MENUITEM "&Refresh",                    ID_REFRESH
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_TASK DIALOGEX 100, 100, 225, 78
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Size"
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN
    LTEXT           "Open:",IDC_STATIC,7,19,16,13
	EDITTEXT        IDC_TASKNAME, 30, 18, 182, 15, ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,52,50,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,108,50,50,14
	PUSHBUTTON      "Browse", IDC_BROWSE, 163, 50, 50, 14
END

STRINGTABLE
BEGIN
	IDS_EROR "Greška"
	IDS_EIMEPROC "Nije uneseno ime procesa !"
	IDS_EXFILTER "Exe Files\0*.exe\0"
	IDS_DEEXT "all"
	IDS_ENDTASK "End Task"
	IDS_REFRESH "Refresh"
	IDS_EXTRASTYLE "fullrow header overflow"
	IDS_COLL1 "Ime"
	IDS_COLL2 "ProcesID"
	IDS_COLL3 "Broj threadova"
	IDS_COLL4 "Lokacija"
	IDS_ERORTERPROC "Greška prilikom gašenja procesa"
END


