#include <winres.h>
#include "rc.h"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDM_MAIN MENU
BEGIN
    POPUP "&Upravljaè procesima"
    BEGIN
        MENUITEM "&Novi proces",               ID_NEWTASK
        MENUITEM SEPARATOR
        MENUITEM "&Izlaz",                       ID_EXIT
    END
    POPUP "&Opcije"
    BEGIN
        MENUITEM "&Osvježi",                    ID_REFRESH
		MENUITEM "&Prikaži servise"				ID_EXPAND
    END
	POPUP "&Pomoæ"
	BEGIN
		MENUITEM "&Prikaži pomoæ", IDD_HELP
		MENUITEM SEPARATOR
		MENUITEM "&O upravljaæu zadatcima"				ID_ABOUT
	END
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_TASK DIALOGEX 100, 100, 225, 78
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Novi proces"
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN
    LTEXT           "Otvori:",IDC_STATIC,7,19,20,13
	EDITTEXT        IDC_TASKNAME, 30, 18, 182, 15, ES_AUTOHSCROLL
    DEFPUSHBUTTON   "Uredu",IDOK,52,50,50,14
    PUSHBUTTON      "Odustani",IDCANCEL,108,50,50,14
	PUSHBUTTON      "Browse", IDC_BROWSE, 163, 50, 50, 14
END

IDD_PROCESSINFO DIALOGEX 0, 0, 200, 145
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Informacije o procesu"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	LTEXT           "ProcesID:", IDC_STATIC, 5, 5, 60, 25
	LTEXT           "", IDS_COLL2, 61, 5, 138, 25
	LTEXT           "Lokacija:", IDC_STATIC, 5, 25, 60, 45
	LTEXT           "", IDS_COLL3, 61, 25, 138, 45
	LTEXT           "Modul:", IDC_STATIC, 4, 45, 60, 65
	LTEXT           "", IDS_COLL4, 61, 45, 138, 65
	LTEXT           "Bazna adresa:", IDC_STATIC, 4, 65, 60, 85
	LTEXT           "", IDS_COLL5, 61, 65, 138, 85
	LTEXT           "Ref count (p):", IDC_STATIC, 3, 85, 60, 105
	LTEXT           "", IDS_COLL6, 61, 85, 138, 105
	LTEXT           "Ref count (g):", IDC_STATIC, 3, 105, 60, 125
	LTEXT           "", IDS_COLL7, 61, 105, 138, 125
	DEFPUSHBUTTON   "Prekini proces", IDC_ENDPROCES, 5, 125, 70, 15
	PUSHBUTTON      "Odustani", IDCANCEL, 85, 125, 70, 15
END

IDD_HELP DIALOGEX 100, 100, 156, 124
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Pomoæ"
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN
LTEXT           "F1: pokreæe pomoæ\n\nPrekini proces: prekida rad procesa\n\nDel: prekid rada proce\n\nDesna tipka miša: Više informacija o procesu\n\nNovi proces: pokreæe novi proces\n\nOsvježi: osvježava popis procesa", IDC_STATIC, 2, 2, 154, 104
DEFPUSHBUTTON   "OK", IDOK, 104, 107, 50, 14
END

IDD_ABOUT DIALOGEX 100, 100, 150, 104
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN
LTEXT           "\n\n\n\n\tProizvedeneo 2016 by NG", IDC_STATIC, 4, 7, 144, 75
DEFPUSHBUTTON   "OK", IDOK, 95, 86, 50, 14
END



STRINGTABLE
BEGIN
	IDS_EROR "Greška"
	IDS_EIMEPROC "Nije uneseno ime procesa !"
	IDS_EXFILTER "Exe Files\0*.exe\0"
	IDS_DEEXT "all"
	IDS_ENDTASK "Prekini proces"
	IDS_REFRESH "Osvježi"
	IDS_EXTRASTYLE "fullrow header overflow"
	IDS_COLL1 "Ime"
	IDS_COLL2 "ProcesID"
	IDS_COLL3 "Broj threadova"
	IDS_COLL4 "Lokacija"
	IDS_ERKILLRPROC "Greška prilikom gašenja procesa"
	IDS_ERKILLRSERV "Greška prilikom gašenja servisa"
	IDS_UNABLEKILLRSERV "Servis nije moguæe ugasiti"
	IDS_NORIGHTS "Pokrenite aplikacijui kao administrator"
END

IDI_ICON1               ICON                    "icon1.ico"

